{{ define "global/header.tmpl" }}
<html lang="en">
<header>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/public/css/w3.css" rel="stylesheet">
    <link href="/public/css/home.css" rel="stylesheet">
    <link href="/public/css/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88fa2e6049.js" crossorigin="anonymous"></script>
    <script src="/public/js/quill.js"></script>
	<title>{{ .title }}</title>

</header>
<body id="body-main">
    <nav class="top-nav">
        <div class="kk-darkest-blue w3-padding">
        <img class="w3-padding" src="/public/img/KKCustom.png">
        </div>
        <div class="w3-bar kk-medium-blue w3-padding">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/about" class="w3-bar-item w3-button w3-hide-small">About</a>
            <a href="/contact" class="w3-bar-item w3-button w3-hide-small">Contact</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="menuFunction()">&#9776;</a>
        </div>
        <div id="demo" class="w3-bar-block kk-medium-blue w3-hide w3-hide-large w3-hide-medium">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/pages/blog" class="w3-bar-item w3-button">Blog</a>
            <a href="/pages/about" class="w3-bar-item w3-button">About</a>
            <a href="/pages/contact" class="w3-bar-item w3-button">Contact</a>
        </div>
    </nav>
{{ end }}