{{ template "global/header.tmpl" .}}
<div class="w3-container">
  <h1>{{ .title }}</h1>
  <h2>Contact Page</h2>
  <br />
  <a href="https://github.com/kennkitchen" target="_blank"><i class="fa-brands fa-big fa-github"></i></a> <a href="https://twitter.com/kennkitchen" target="_blank"><i class="fa-brands fa-big fa-twitter"></i></a> <a href="https://www.linkedin.com/in/kennkitchen/" target="_blank"><i class="fa-brands fa-big fa-linkedin"></i></a> <a href="https://gitlab.com/kennkitchen" target="_blank"><i class="fa-brands fa-big fa-gitlab"></i></a> <a href="https://kennkitchen.medium.com/" target="_blank"><i class="fa-brands fa-big fa-medium"></i></a> <a href="https://soundcloud.com/kenn-kitchen" target="_blank"><i class="fa-brands fa-big fa-soundcloud"></i></a> <a href="https://profiles.wordpress.org/kennkitchen/" target="_blank"><i class="fa-brands fa-big fa-wordpress"></i></a>
</div>
{{ template "global/footer.tmpl" .}}
