{{ template "global/header.tmpl" .}}
<div class="w3-container">
  <h1>{{ .title }}</h1>
  <p>I'm Kenn (bet you guessed that) and this is my placeholder website.</p>
  <p>I’m the founder and CE/TO of Webinology, a company that is focused on providing good homes and ongoing TLC for websites and web applications.</p>
  <p>As a web person, I couldn’t pass up the chance at buying in when I found that my last name had become a top-level domain (TLD), meaning I could have my actual, legal name as a domain.</p>
  <p>I use this site to play around with web stuff. Don't expect anything amazing, and don't be surprised if it breaks!</p>
  <br />
</div>
{{ template "global/footer.tmpl" .}}
