{{ template "global/header.tmpl" .}}
<div class="w3-container">
  <h1>{{ .title }}</h1>
  <p>I'm Kenn (bet you guessed that) and this is a website for development and testing.</p>
  <p>This is a placeholder landing page. More to come.</p>
  <br />
</div>
{{ template "global/footer.tmpl" .}}
