{{ template "global/header.tmpl" .}}
<div class="w3-container">
  <h1>{{ .title }}</h1>
  <h2>Register Page</h2>
  <p>Future home of the registration page.</p>
</div>
{{ template "global/footer.tmpl" .}}
