{{ template "global/header.tmpl" .}}
<div class="w3-container">
  <h1>{{ .title }}</h1>
  <h2>Thank you for registering!</h2>
  <p>Please check your email, blah blah blah</p>
</div>
{{ template "global/footer.tmpl" .}}
